body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f4f6f8;
}

header{
  background:#0b1c2d;
  color:white;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  margin:0 12px;
  text-decoration:none;
  font-weight:bold;
}

.container{
  max-width:1000px;
  margin:auto;
  background:white;
  padding:20px;
}

.card{
  border:1px solid #ddd;
  padding:15px;
  margin-bottom:15px;
  border-radius:6px;
}

.btn{
  background:#0b1c2d;
  color:white;
  padding:10px 15px;
  text-decoration:none;
  display:inline-block;
}

.footer{
  background:#0b1c2d;
  color:white;
  text-align:center;
  padding:10px;
}
